@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);


#interstitial {
  background: white;
  text-align: center;
  padding-top: 65px;
  font-family: lato,sans-serif;
  display:none;
}

#popup {
    background-color: rgba(245, 245, 245, 1);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
}

#popup #content > div {
    
}

#content {
  margin: 10px;
  font-family: 'Lato', sans-serif;
}

div#product {
  padding-bottom: 10px;
}

.count {
  font-size: 50px;
  color: #FD7928;
  font-weight: bold;
}

img.product-image {
  display: inline-block;
  max-height: 90pt;
  max-width: 90pt;
  padding-right: 7pt;
}

div.score {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
}

.score div.text {
  font-size: 17px;
}

div.published {
  display: inline-block;
  float: right;
  padding: 20px 50px 0 0;
}

.published img {
  max-width: 50px;
}

span.published-at {
  font-size: 190%;
  color: #B3B3B3;
  position: relative;
  bottom: 14px;
}

.published-at em {
  font-weight: bold;
}

.left-smiley {
  display: inline-block;
  vertical-align: top;
}

.left-smiley img {
  padding-right: 10px;
  width: 65%;
}

img#blue-reevoo-icon {
  vertical-align: top;
  width: 12px;
}

img#orange-reevoo-icon {
  width: 12px;
}

.contents {
  display: inline-block;
  width: 600px;
  font-style: italic;
  font-size: 17px;
  line-height: 1.2;
}

div.points {
  padding: 10px 0;
}

div#username {
  font-weight: bold;
  font-size: 120%;
  padding: 10px 0 0 50px;
}

#interstitial .container{
  margin:50px;
  display:table;
  width:90%;
  border-collapse: collapse;
}
#interstitial .table-row{
  display:table-row;
  text-align: center;
}
#interstitial .col {
  display: table-cell;
}

#interstitial .col.stat-number {
  font-size: 500%;
  font-weight: bold;
  text-align:left;
  padding-top:15px;
  padding-left:20px;
  width:10%;
  color:#464646;
}

#interstitial .col.stat-text {
  font-size: 350%;
  font-weight: lighter;
  text-align:left;
  padding-left:35px;
  padding-top:15px;
  padding-right:5px;
  width:10%;
  color:#868686;
}

#interstitial .col.first-column {
  width: 40%;
}

#interstitial .col.last-column {
  width: 40%;
}

.arrow-img {
  width: 300px;
  height: 50px;
}

.header-image {
  font-size: 850%;
  font-weight: lighter;
  text-align:left;
  color:#868686;
  text-align:center;
}
