@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

header img {
    width: 200px;
}

header span {
    font-style: italic;
    color: gray;
    font-size: 70%;
}

#interstitial {
    display: none;
    background: white;
    height: 1000px;
    text-align: center;
    padding-top: 50px;
    font-size: 300%;
}

#interstitial p {
    padding-top: 50px;
}

#popup {
    width: 560px;
    background-color: rgba(245, 245, 245, 1);
    border-bottom: 5px solid rgba(254, 133, 9, 1);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
}

#popup #content > div {
    
}

#content {
  margin: 10px;
  font-family: 'Lato', sans-serif;
}

div#product {
  padding-bottom: 10px;
}

.count {
  font-size: 50px;
  color: #FD7928;
  font-weight: bold;
}

img.product-image {
  display: inline-block;
}

div.score {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
}

.score div.text {
  font-size: 17px;
}

div.published {
  display: inline-block;
  float: right;
  padding: 20px 50px 0 0;
}

.published img {
  width: 50px;
}

span.published-at {
  font-size: 190%;
  color: #B3B3B3;
  position: relative;
  bottom: 14px;
}

.published-at em {
  font-weight: bold;
}

.left-smiley {
  display: inline-block;
  vertical-align: top;
}

.left-smiley img {
  padding-right: 10px;
  width: 65%;
}

img#blue-reevoo-icon {
  vertical-align: top;
  width: 12px;
}

img#orange-reevoo-icon {
  width: 12px;
}

.contents {
  display: inline-block;
  width: 460px;
  font-style: italic;
  font-size: 17px;
  line-height: 1.2;
}

div.points {
  padding: 10px 0;
}

div#username {
  font-weight: bold;
  font-size: 120%;
  padding: 10px 0 0 50px;
}


